/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/****************************/
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', '微軟正黑體', 'sans-serif';
}

.container {
    width: 100%;
    margin: 0 auto;

    /* in XD design, it's medium */
    font-weight: 400;
}

.flex-col-aic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    font-style: italic;

    font-size: 64px;
    line-height: 75px;

    margin-top: 64px;
}

/****************************
* BANNER
****************************/
.banner {
    height: 960px;
    background-image: url('images/banner.png');
    background-repeat: no-repeat;
    background-position: center center;

    color: #fff;
    font-style: italic;

    border: 1px solid #707070;
}

.name-header {
    margin-top: 356px;
    margin-bottom: 32px;
}

.name-header .name-prefix {
    line-height: 28px;
    font-size: 24px;
}

.name-header .name {
    /* bold */
    font-weight: 600;

    line-height: 94px;
    font-size: 80px;
}

.job-title {
    line-height: 35px;
    height: 70px;
    font-size: 24px;

    width: 283px;

    /* bold */
    font-weight: 600;

    margin-bottom: 64px;
}

.social-icon {
    width: 308px;
    display: flex;

    justify-content: space-between;
}

.social-icon img {
    display: block;
}

/****************************
* ABOUT
****************************/
.about {
    font-style: italic;
    font-size: 24px;

    /* in XD design, it's bold */
    font-weight: 600;
}

.about .header {
    margin-bottom: 40px;
}

.about img {
    display: block;
    width: 384px;
    height: 384px;
}

.full-name {
    line-height: 28px;

    margin-top: 24px;
    margin-bottom: 8px;
}

.birth-date {
    line-height: 28px;

    margin-bottom: 8px;
}

.education {
    width: 411px;
    line-height: 32px;

    text-align: center;

    margin-bottom: 32px;
}

.about hr {
    width: 384px;
    border-top: 1px solid #000;

    margin-bottom: 34px;
}

.about ul {
    /* width: 342px; */
    height: 148px;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    margin-bottom: 56px;
}

.about ul li {
    line-height: 50px;

    margin-left: 30px;
}

.about ul li::before {
    position: absolute;

    content: '';

    /* brown circle bullet */
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #891818;

    /* -22 - 16 = -38 */
    margin-left: -38px;
    /* vertical center (50 - 22) / 2 = 14 */
    margin-top: 14px;

    z-index: 1;
}

/****************************
* MY-BRAND
****************************/
.my-brand {
    background: #000;
    color: #fff;
}

.my-brand .slogan {
    font-style: italic;

    font-size: 24px;
    line-height: 28px;

    margin-top: 16px;
    margin-bottom: 32px;
}

.my-brand p {
    font-size: 20px;
    line-height: 38px;
    height: 112px;

    text-align: center;
    margin-bottom: 48px;
}

.brand-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;

    /* 160 - 40 = 120 */
    margin-bottom: 120px;
}

.brand-images img {
    display: block;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 40px;
}
